:root {
  /* --- Couleurs de fond --- */
  --bg-color-dark: #000000;
  --bg-color-black-light: #020616;

  /* --- Couleurs de texte --- */
  --text-white: #ffffff;
  --text-light-grey: #B0B5BD;
  --text-dark-grey: #606773;
  --texte-footer: #57585E;

  /* --- Couleurs d'accentuation --- */
  --primary-blue: #33476F;
  --accent-blue: #1E87FF;
  --dark-blue: #0B1D3A;

  /* --- Bordures --- */
  --border-color: #1f2937;
}